html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'alfa_slab_oneregular';
  src: url("fonts/alfaslabone-regular-webfont.eot");
  src: url("fonts/alfaslabone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/alfaslabone-regular-webfont.woff2") format("woff2"), url("fonts/alfaslabone-regular-webfont.woff") format("woff"), url("fonts/alfaslabone-regular-webfont.ttf") format("truetype"), url("fonts/alfaslabone-regular-webfont.svg#alfa_slab_oneregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sansbold';
  src: url("fonts/pts75f-webfont.eot");
  src: url("fonts/pts75f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pts75f-webfont.woff2") format("woff2"), url("fonts/pts75f-webfont.woff") format("woff"), url("fonts/pts75f-webfont.ttf") format("truetype"), url("fonts/pts75f-webfont.svg#pt_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sansregular';
  src: url("fonts/pts55f-webfont.eot");
  src: url("fonts/pts55f-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/pts55f-webfont.woff2") format("woff2"), url("fonts/pts55f-webfont.woff") format("woff"), url("fonts/pts55f-webfont.ttf") format("truetype"), url("fonts/pts55f-webfont.svg#pt_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PTSans-NarrowBold';
  src: url("fonts/PTSans-NarrowBold_gdi.eot");
  src: url("fonts/PTSans-NarrowBold_gdi.eot?#iefix") format("embedded-opentype"), url("fonts/PTSans-NarrowBold_gdi.woff") format("woff"), url("fonts/PTSans-NarrowBold_gdi.ttf") format("truetype"), url("fonts/PTSans-NarrowBold_gdi.svg#PTSans-NarrowBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
  unicode-range: U+0020-F6CE;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article {
  -webkit-text-size-adjust: 100%;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
@media (min-width: 768px) {
  article {
    background-color: #e3cd67;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

#guitar-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#guitar-container #guitar-top {
  width: 110%;
  margin-left: -5%;
  max-width: 340px;
  font-family: "alfa_slab_oneregular";
}
@media (min-width: 340px) and (max-width: 767px) {
  #guitar-container #guitar-top {
    margin: 0 auto;
    display: block;
  }
}

#intro {
  font-family: "pt_sansbold";
  font-size: 18px;
  line-height: 1.5em;
  width: 90%;
  margin: 1em auto 0 auto;
}
#intro .highlight {
  font-family: "alfa_slab_oneregular";
  font-size: 45px;
  float: left;
  line-height: 39px;
  margin-top: 8px;
  margin-right: 8px;
}
@media (min-width: 768px) {
  #intro {
    position: absolute;
    top: 15%;
    right: 2%;
    width: 38%;
    margin: auto;
    font-family: "pt_sansregular";
  }
  #intro .highlight {
    font-size: 56px;
    line-height: 51px;
    margin-bottom: -5px;
    margin-top: 5px;
  }
}

#pedal-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#pedal-container #guitar-bottom2 {
  margin-top: -5px;
}
#pedal-container #guitar-bottom1, #pedal-container #guitar-bottom2 {
  width: 100%;
}
#pedal-container #instructions {
  color: #e2001a;
  font-family: "pt_sansbold";
  font-size: 17px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  #pedal-container #instructions {
    margin-bottom: 20px;
  }
}

#pedals {
  background-color: #e3cd67;
  margin-top: -10px;
  padding-top: 5px;
}
#pedals .pedal {
  box-sizing: border-box;
  width: 50%;
  display: inline-block;
  margin: 10px auto;
  padding: 20px;
  position: relative;
}
#pedals .pedal .selection-highlight {
  display: none;
}
#pedals .pedal.selected .selection-highlight {
  position: absolute;
  top: 0;
  left: 20px;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: calc(100% - 40px);
  height: calc(100% - 20px);
}
@media (max-width: 767px) {
  #pedals .pedal {
    padding-bottom: 0;
  }
  #pedals .pedal.selected .selection-highlight {
    position: absolute;
    top: 0;
    height: 100%;
  }
}
#pedals .pedal:nth-child(2n) {
  float: left;
}
#pedals .pedal .pedal-name {
  font-family: "pt_sansbold";
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  height: 3.5em;
  position: relative;
}
#pedals .pedal .pedal-img {
  display: block;
  height: 110px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 768px) {
  #pedals {
    margin-top: 25px;
  }
  #pedals .pedal {
    width: 16.2%;
    float: left;
  }
  #pedals .pedal .pedal-name {
    height: 4em;
  }
  #pedals .pedal.selected .selection-highlight {
    left: 10px;
    width: calc(100% - 20px);
  }
}

.pedal-section {
  display: none;
}
.pedal-section .pedal-name {
  width: 100%;
  background-color: #e3dddb;
  font-family: "alfa_slab_oneregular";
  font-size: 21px;
  text-align: center;
  padding: 13px;
  margin-top: 40px;
}
.pedal-section .pedal-name .name-highlight {
  color: #fe3d02;
  text-transform: uppercase;
}
.pedal-section .pedal-review-container {
  position: relative;
}
.pedal-section .pedal-review {
  width: 90%;
  margin: 20px auto;
  height: 480px;
  overflow: scroll;
  overflow-x: hidden;
}
.pedal-section .pedal-review .pedal-large {
  display: block;
  margin: 20px auto 0 auto;
}
.pedal-section .pedal-review .pedal-info {
  font-family: "pt_sansregular";
  font-size: 17px;
  line-height: 1.3em;
}
.pedal-section .pedal-review .pedal-info h2 {
  font-size: 18px;
  font-family: "alfa_slab_oneregular";
  margin-top: 1em;
  margin-bottom: .25em;
}
.pedal-section .pedal-review .pedal-info p {
  margin-bottom: .75em;
}
.pedal-section .pedal-vid {
  margin-top: 50px;
}
.pedal-section .pedal-vid video {
  width: 100%;
}
.pedal-section .pedal-rating {
  width: 90%;
  margin: 20px auto;
}
.pedal-section .pedal-rating .rating-row h3 {
  font-size: 24px;
  font-family: "alfa_slab_oneregular";
}
.pedal-section .pedal-rating .rating-row p {
  font-family: "pt_sansbold";
  font-size: 17px;
  line-height: 1.1em;
  margin-bottom: 15px;
}
.pedal-section .pedal-rating .rating-row p.rating-images {
  margin-bottom: 8px;
}
.pedal-section .pedal-rating .rating-info {
  margin: 25px auto;
}
.pedal-section .pedal-rating .rating-info p {
  font-family: "pt_sansbold";
  font-size: 20px;
  margin-bottom: 10px;
}

#guitar-full-container {
  position: relative;
}
#guitar-full-container #guitar-full {
  width: 100%;
  position: relative;
  z-index: 2;
}
#guitar-full-container #guitar-full-top, #guitar-full-container #guitar-full-bottom {
  width: 100%;
  position: relative;
  z-index: 3;
}
#guitar-full-container #guitar-full-bottom {
  margin-top: -4px;
}
#guitar-full-container #guitar-neck {
  width: 15.6%;
  left: 41.5%;
  top: 13%;
  height: 50%;
  background-color: #fff;
  position: absolute;
  z-index: 2;
}
#guitar-full-container #red {
  background-color: #fe3d02;
  position: absolute;
  width: 50%;
  height: 86%;
  top: 0;
  left: 0;
  z-index: 1;
}
#guitar-full-container #buttons {
  position: absolute;
  width: 130px;
  height: 300px;
  left: 4%;
  bottom: 6.5%;
  z-index: 5;
}
#guitar-full-container #buttons .button {
  position: relative;
  width: 75px;
  height: 79px;
}
#guitar-full-container #buttons .button .btn-text {
  position: absolute;
  top: 24px;
  left: 0;
  width: 66px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: "PTSans-NarrowBold";
  text-transform: uppercase;
  -moz-transition: -webkit-transform 0.7s ease-in-out;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
}
#guitar-full-container #buttons .button.active .btn-text {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
#guitar-full-container #buttons .button.btn-review {
  margin-left: 30px;
}
#guitar-full-container #buttons .button.btn-vid {
  margin-top: 22px;
  margin-left: 10px;
}
#guitar-full-container #buttons .button.btn-rating {
  margin-top: 22px;
  margin-left: 40px;
}
#guitar-full-container #content-space #main-view {
  width: 58%;
  height: 22%;
  position: absolute;
  bottom: 7%;
  left: 24%;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 5;
}
#guitar-full-container #content-space #main-view #content-review .pedal-large {
  float: left;
  margin-right: -8px;
}
#guitar-full-container #content-space #main-view #content-review .pedal-info {
  font-family: "pt_sansregular";
  font-size: 17px;
  line-height: 1.3em;
}
#guitar-full-container #content-space #main-view #content-review .pedal-info h2 {
  font-size: 18px;
  font-family: "alfa_slab_oneregular";
  margin-top: 1em;
  margin-bottom: .25em;
}
#guitar-full-container #content-space #main-view #content-review .pedal-info p {
  margin-bottom: .75em;
}
#guitar-full-container #content-space #main-view #content-vid {
  width: 100%;
}
#guitar-full-container #content-space #main-view #content-vid video {
  width: 100%;
  display: block;
  margin: 75px auto 0 auto;
}
#guitar-full-container #content-space #main-view #content-rating {
  margin-top: 80px;
}
#guitar-full-container #content-space #main-view #content-rating .rating-row {
  margin-bottom: 15px;
}
#guitar-full-container #content-space #main-view #content-rating .rating-row:before, #guitar-full-container #content-space #main-view #content-rating .rating-row:after {
  content: '';
  display: table;
}
#guitar-full-container #content-space #main-view #content-rating .rating-row:after {
  clear: both;
}
#guitar-full-container #content-space #main-view #content-rating .rating-row h3 {
  font-size: 24px;
  font-family: "alfa_slab_oneregular";
  width: 175px;
  text-align: right;
  float: left;
  margin-right: 20px;
  margin-top: 3px;
  clear: both;
}
#guitar-full-container #content-space #main-view #content-rating .rating-row p {
  font-family: "pt_sansbold";
  font-size: 17px;
  line-height: 1.1em;
  margin-left: 195px;
}
#guitar-full-container #content-space #main-view #content-rating .rating-row p.short-con {
  margin-top: 8px;
}
#guitar-full-container #content-space #main-view #content-rating .rating-row p.rating-images {
  margin-bottom: 8px;
}
#guitar-full-container #content-space #main-view #content-rating .rating-info {
  margin: 25px auto 0 195px;
}
#guitar-full-container #content-space #main-view #content-rating .rating-info p {
  font-family: "pt_sansbold";
  font-size: 20px;
  margin-bottom: 10px;
}
#guitar-full-container #content-space #content-title {
  width: 58%;
  left: 24%;
  position: absolute;
  bottom: 3%;
  background-color: #e3dddb;
  font-family: "alfa_slab_oneregular";
  font-size: 29px;
  text-align: center;
  padding: 15px;
  z-index: 5;
}
#guitar-full-container #content-space #content-title .name-highlight {
  color: #fe3d02;
  text-transform: uppercase;
}

.scroll-arrow {
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 26px;
  margin-left: -13px;
  opacity: .85;
  z-index: 6;
}
@media (min-width: 768px) {
  .scroll-arrow {
    bottom: 7.15%;
    left: 53%;
    width: 32px;
    margin-left: -16px;
  }
}

#daredevil-nova {
  display: block;
}

.menu-back {
  display: block;
  width: 100%;
  background-color: #e3dddb;
  color: #e2001a;
  font-family: "pt_sansbold";
  font-size: 17px;
  line-height: 2.5em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  margin: 20px auto;
  cursor: pointer;
}
